body {
	background-color: #fafafa;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}



.header { 
	margin: 0px;
	padding: 0px; 
	background-color: white; 
	position: center; 
    margin-bottom: 5px; 
 }

.logo { 
	margin: 4px; 
	height: 40px;
	margin-left: 8px;
}

.textlogo {
	text-align: center; 
}

			.sidebar { 
				float: left; 
				background: lightgray; 
				width: 10%; 
				height: 100%; 
				margin: 20px;
				padding: 10px; 
				border-radius: .5rem; 
			} 
			.main{ 
				float: left; 
				background: lightgray; 
				width: 67%; 
				height: 100%;
				margin: 20px; 
				padding: 10px; 
				border-radius: .5rem; 
			} 
			.rightSideBar{ 
				float: right; 
				background: lightgray; 
				width: 15%; 
				height: 100%; 
				margin: 20px;
				padding: 10px;
				border-radius: .5rem;  
			}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
